<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-control" content="no-cache" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />

    <title>Document</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/backdoor.css">

</head>

<body>
    <div class="wrapper" style="height: 3000px;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.svg" alt="logo-header.svg">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="logo-mobile">
                                    <a href="home.html">
                                        <img src="./img/logo-header.svg" alt="logo-header.svg">
                                    </a>
                                </div>
                                <ul class="header-list">
                                    <li class="current-menu-item">
                                        <a href="#">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="#">Dịch vụ di trú</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Tin tức & Sự kiện</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Liên Hệ</a>
                                    </li>
                                    <li class="r-cl">
                                        <a href="#">Đánh Giá Hồ Sơ</a>
                                    </li>
                                </ul>
                                <div class="header-menu-social">
                                    <a href="#" class="menu-social">
                                        <img src="./img/svg/facebook.svg" alt="facebook.svg">
                                    </a>
                                    <a href="#" class="menu-social social-youtube">
                                        <img src="./img/svg/twitter.svg" alt="twitter.svg">
                                    </a>
                                    <a href="#" class="menu-social social-insta">
                                        <img src="./img/svg/inlink.svg" alt="inlink.svg">
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-rt">
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <img src="./img/svg/search-w.svg" alt="search-w.svg">
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="header-lang">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/svg/logo-vn.svg">Tiếng việt
                                        </option>
                                        <option value="EN" data-thumbnail="img/svg/logo-vn.svg">English
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banners">
                <div class="banners-wrappper">
                    <div class="banners-slide swiper-banners">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="banners-inner" style="background-image: url('./img/banners1.png');">
                                        <div class="container">
                                            <div class="banners-wrap">
                                                <p class="label tt-16">
                                                    Chào mừng tới SEED Immigration
                                                </p>
                                                <h3 class="title tt-48 t-uppercase">
                                                    Tư vấn Nhập cư & Thị thực
                                                </h3>
                                                <p class="desc tt-16">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever
                                                    since the 1500s, lorem ipsum Lorem Ipsum.
                                                </p>
                                                <a href="#" class="btn btn-now">
                                                    TÌM HIỂU NGAy
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="banners-inner" style="background-image: url('./img/banners1.png');">
                                        <div class="container">
                                            <div class="banners-wrap">
                                                <p class="label tt-16">
                                                    Chào mừng tới SEED Immigration
                                                </p>
                                                <h3 class="title tt-48 t-uppercase">
                                                    Tư vấn Nhập cư & Thị thực
                                                </h3>
                                                <p class="desc tt-16">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever
                                                    since the 1500s, lorem ipsum Lorem Ipsum.
                                                </p>
                                                <a href="#" class="btn btn-now">
                                                    TÌM HIỂU NGAy
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-catalog sec-60" style="background-image: url('./img/bg-service1.png');">
                <div class="container">
                    <div class="cata-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="cata-box">
                                    <div class="cata-img">
                                        <img src="./img/svg/cata1.svg" alt="cata1.svg">
                                    </div>
                                    <div class="cata-text">
                                        <h4 class="title tt-16">
                                            Thị thực vợ / chồng / gia đình
                                        </h4>
                                        <p class="desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="cata-box">
                                    <div class="cata-img">
                                        <img src="./img/svg/cata2.svg" alt="cata2.svg">
                                    </div>
                                    <div class="cata-text">
                                        <h4 class="title tt-16">
                                            Thị thực trở lại thường trú
                                        </h4>
                                        <p class="desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="cata-box">
                                    <div class="cata-img">
                                        <img src="./img/svg/cata3.svg" alt="cata3.svg">
                                    </div>
                                    <div class="cata-text">
                                        <h4 class="title tt-16">
                                            Thị thực vợ / chồng / gia đình
                                        </h4>
                                        <p class="desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="cata-box">
                                    <div class="cata-img">
                                        <img src="./img/svg/cata4.svg" alt="cata4.svg">
                                    </div>
                                    <div class="cata-text">
                                        <h4 class="title tt-16">
                                            Thị thực vợ / chồng / gia đình
                                        </h4>
                                        <p class="desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="cata-box">
                                    <div class="cata-img">
                                        <img src="./img/svg/cata5.svg" alt="cata5.svg">
                                    </div>
                                    <div class="cata-text">
                                        <h4 class="title tt-16">
                                            Thị thực vợ / chồng / gia đình
                                        </h4>
                                        <p class="desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="cata-box">
                                    <div class="cata-img">
                                        <img src="./img/svg/cata6.svg" alt="cata6.svg">
                                    </div>
                                    <div class="cata-text">
                                        <h4 class="title tt-16">
                                            Thị thực vợ / chồng / gia đình
                                        </h4>
                                        <p class="desc">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="seed-immi sec-60">
                <div class="container">
                    <div class="seed-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="seed-text">
                                    <h3 class="title tt-32">
                                        Về SEED Immigration
                                    </h3>
                                    <div class="desc tt-16">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book.
                                        </p>
                                        <ul>
                                            <li>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been
                                            </li>
                                            <li>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been
                                            </li>
                                            <li>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem Ipsum has been
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" class="btn btn-now">
                                        tìm hiểu ngay
                                    </a>
                                </div>
                            </div>
                            <div class="column">
                                <div class="seed-img">
                                    <div class="ig-bx">
                                        <div class="seed-ig parallax" data-speed="0.3">
                                            <img src="./img/seed1.png" alt="seed1.png">
                                        </div>
                                        <div class="seed-ig parallax" data-speed="0.5">
                                            <img src="./img/seed2.png" alt="seed2.png">
                                        </div>
                                    </div>
                                    <div class="ig-bx">
                                        <div class="seed-ig parallax" data-speed="-0.4">
                                            <img src="./img/seed3.png" alt="seed3.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabs-home sec-60" style="background-image: url(./img/bg-service2.png);">
                <div class="container">
                    <div class="tb-wrapper">
                        <div class="tab tab-mobi">
                            <div class="tab-tt">
                                <div class="tab-link-mobi">
                                    <p class="tt-18 f-bold">Danh mục </p>
                                </div>
                                <div class="tab-link">
                                    <div class="tab-title active">
                                        <p>DI TRÚ TẠM THỜI</p>
                                    </div>
                                    <div class="tab-title">
                                        <p>EXPRESS ENTRY</p>
                                    </div>
                                    <div class="tab-title">
                                        <p>ĐỀ CỬ TỈNH BANG (PNP)</p>
                                    </div>
                                    <div class="tab-title">
                                        <p>ĐỊNH CƯ KHỞI NGHIỆP</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content">
                                <div class="tab-content-box active">
                                    <div class="tb-wrap">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="img img-w-100 " data-tilt data-tilt-perspective="3000"
                                                    data-tilt-glare data-tilt-max-glare=".2">
                                                    <img src="./img/img-tb.png" alt="img-tb.png">
                                                </div>
                                            </div>

                                            <div class="column">
                                                <div class="tb-inner">
                                                    <h3 class="title tt-32">
                                                        Di trú tạm thời
                                                    </h3>

                                                    <div class="mona-content">
                                                        <p>
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen book.
                                                        </p>
                                                        <h4>
                                                            Lorem Ipsum is simply dummy text of the printing
                                                        </h4>
                                                        <ul>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <a href="#" class="btn btn-now">
                                                        TÌM HIỂU NGAY
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content-box">
                                    <div class="tb-wrap">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="img img-w-100 " data-tilt data-tilt-perspective="3000"
                                                    data-tilt-glare data-tilt-max-glare=".2">
                                                    <img src="./img/img-tb.png" alt="img-tb.png">
                                                </div>
                                            </div>

                                            <div class="column">
                                                <div class="tb-inner">
                                                    <h3 class="title tt-32">
                                                        Di trú tạm thời
                                                    </h3>

                                                    <div class="mona-content">
                                                        <p>
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen book.
                                                        </p>
                                                        <h4>
                                                            Lorem Ipsum is simply dummy text of the printing
                                                        </h4>
                                                        <ul>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <a href="#" class="btn btn-now">
                                                        TÌM HIỂU NGAY
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content-box">
                                    <div class="tb-wrap">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="img img-w-100 " data-tilt data-tilt-perspective="3000"
                                                    data-tilt-glare data-tilt-max-glare=".2">
                                                    <img src="./img/img-tb.png" alt="img-tb.png">
                                                </div>
                                            </div>

                                            <div class="column">
                                                <div class="tb-inner">
                                                    <h3 class="title tt-32">
                                                        Di trú tạm thời
                                                    </h3>

                                                    <div class="mona-content">
                                                        <p>
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen book.
                                                        </p>
                                                        <h4>
                                                            Lorem Ipsum is simply dummy text of the printing
                                                        </h4>
                                                        <ul>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <a href="#" class="btn btn-now">
                                                        TÌM HIỂU NGAY
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content-box">
                                    <div class="tb-wrap">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="img img-w-100 " data-tilt data-tilt-perspective="3000"
                                                    data-tilt-glare data-tilt-max-glare=".2">
                                                    <img src="./img/img-tb.png" alt="img-tb.png">
                                                </div>
                                            </div>

                                            <div class="column">
                                                <div class="tb-inner">
                                                    <h3 class="title tt-32">
                                                        Di trú tạm thời
                                                    </h3>

                                                    <div class="mona-content">
                                                        <p>
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen book.
                                                        </p>
                                                        <h4>
                                                            Lorem Ipsum is simply dummy text of the printing
                                                        </h4>
                                                        <ul>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                            <li>
                                                                Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s,
                                                                when an unknown printer took
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <a href="#" class="btn btn-now">
                                                        TÌM HIỂU NGAY
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="advise sec-80" style="background-image: url(./img/advise.png);">
                <div class="container">
                    <div class="advise-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ad-text">
                                    <h3 class="title tt-32">
                                        Nhận tư vấn trực tuyến
                                        miễn phí & chất lượng
                                    </h3>
                                    <p class="desc">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard
                                    </p>

                                    <div class="ad-info">
                                        <div class="ad-ls">
                                            <p class="ad-tm">
                                                Văn phòng Việt Nam
                                            </p>
                                            <p class="ad-tm">
                                                SĐT : +84 937 706 869  
                                            </p>
                                            <p class="ad-tm">
                                                Email: contact@seedimmigration.com
                                            </p>
                                        </div>
                                        <div class="ad-ls">
                                            <p class="ad-tm">
                                                Văn phòng Canada
                                            </p>
                                            <p class="ad-tm">
                                                SĐT : +1 647 685 7626
                                            </p>
                                            <p class="ad-tm">
                                                Email: contact@seedimmigration.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer">
            <div class="test">

            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>

    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- tilt -->
    <script src="./js/libs/tiltjs/vanilla-tilt.min.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>