.main-cl {
    color: $main-cl;
}

.wrapper{
    overflow: hidden;

    &.no-v{
        overflow: unset;
    }
}

.bg-cl{
    background-color: #F1F1F1;
}

.news-bx {
    background-color: $w-cl;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    &:hover {
        box-shadow: 7px 7px 15px rgba($color: $b-cl, $alpha: .16);

        .news-img {
            img {
                transform: scale(1.1);
            }
        }

        .n-title {
            color: $main-cl;
        }

        .news-text {
            border-color: $w-cl;
        }

    }

    .news-img {
        overflow: hidden;

        img {
            transition: all .3s ease;
        }
    }

    .news-text {
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        border-top: 0;
        border-radius: 0 0 10px 10px;
        padding: 15px;
        transition: all .3s ease;
    }

    .n-title {
        margin-bottom: 15px;
        display: block;
        transition: all .3s ease;
    }

    .desc {
        line-height: 2;
    }

    .news-date {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid rgba($color: #c4c4c4, $alpha: .3);
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }
    }
}