.banners {
    .swiper-wrapper {
        margin: 0;
    }

    .swiper-slide {
        padding: 0;
        height: 100%;
        &-active{
            .label{
                animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                @include max-media($bk-d-768){
                    animation: none;
                }
            }
            .title{
                animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                @include max-media($bk-d-768){
                    animation: none;
                }
            }
            .desc{
                animation: slide-in-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                @include max-media($bk-d-768){
                    animation: none;
                }
            }

            .btn-now{
                animation: slide-in-bottom 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                @include max-media($bk-d-768){
                    animation: none;
                }
            }
        }
    }

    .swiper-slide>img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .swiper-button-prev {
        left: 30px;

        @include max-media($bk-d-992) {
            left: 15px;
        }
    }

    .swiper-button-next {
        right: 30px;

        @include max-media($bk-d-992) {
            right: 15px;
        }
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0;
    }

    .banners-inner {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 205px 0;
        position: relative;
        color: $w-cl;
        z-index: 0;

        @include max-media($bk-d-1440) {
            padding: 150px 0;
        }

        @include max-media($bk-d-1200) {
            padding: 120px 0;
        }

        @include max-media($bk-d-992) {
            padding: 80px 0;
        }

        @include max-media($bk-d-768) {
            padding: 50px 0;
        }

        &::after {
            content: '';
            @include pos-full;
            background-color: rgba($color: $b-cl, $alpha: .5);
            z-index: -1;
        }
    }

    .banners-wrap {
        text-align: center;
        max-width: 770px;
        margin: 0 auto;

        .label {
            margin-bottom: 15px;
            line-height: 1.5;
        }

        .title {
            margin-bottom: 15px;
            line-height: 1.2;
        }

        .desc {
            line-height: 1.5;
            margin-bottom: 15px;
        }
    }

    &-page {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 268px 0;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        position: relative;
        z-index: 0;
        // height: 600px;
        display: flex;
        align-items: center;

        @include max-media($bk-d-1440) {
            padding: 210px 0;
        }

        @include max-media($bk-d-1200) {
            padding: 170px 0;
        }

        @include max-media($bk-d-992) {
            padding: 130px 0;
        }

        @include max-media($bk-576) {
            padding: 100px 0;
        }

        &.sec-new {
            padding: 193px 0;

            @include max-media($bk-d-1440) {
                padding: 135px 0;
            }

            @include max-media($bk-d-1200) {
                padding: 100px 0 135px;
            }

            @include max-media($bk-d-992) {
                padding: 100px 0 110px;
            }

            @include max-media($bk-576) {
                padding: 100px 0 50px;
            }
        }

        &::after {
            content: '';
            @include pos-full;
            background: radial-gradient(45.17% 45.17% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.235) 100%);
            z-index: -1;
        }

        .title {
            color: $w-cl;
            line-height: 1.4;
        }

        .breadcrumb {
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            // max-width: max-content;

            @include min-media($bk-1200) {
                left: calc((100vw - 1200px) / 2);
            }
        }

        .btn-n {
            text-align: center;
            margin-top: 30px;

            @include max-media($bk-d-1200) {
                margin-top: 15px;
            }
        }
    }



}