.breadcrumb {
    background-color: $w-cl;
    width: auto;
    padding: 15px 30px;
    border-radius: 5px ;

    .breadcrumb-menu {
        display: flex;

        @include max-media($bk-576) {
            overflow-x: scroll;
            white-space: nowrap;
            @include custom-horizontal-scrollbar(2px);
        }


        .breadcrumb-list {
            &:not(:first-child) {
                &::before {
                    content: '/';
                    padding-right: 8px;
                }

                padding-left: 12px;
            }

            &.current{
                color: $main-cl;
            }

            a {
                transition: all .3s ease;
                &:hover {
                    color: $main-cl;
                }
            }
        }
    }
}
