.swiper , .swiper-custom {
    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: 0 6px;
    }

    .swiper-pagination-bullet-active {
        background-color: $main-cl;
        width: 8px;
        height: 8px;
    }

    .swiper-button-next , .swiper-button-prev{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgba($color: $g-E5E5-cl, $alpha: .4);
        color: $b-cl;
        transition: all .3s ease;
        @include max-media($bk-d-1200){
            width: 34px;
            height: 34px;
        }
        &::after{
            font-size: 16px;
            font-weight: bold;
            @include max-media($bk-d-1200){
                font-size: 12px;
            }
        }

        &:hover{
            color: $r-cl;
        }
    }

    .swiper-button-prev{
        &::after{
            margin-right: 2px;
        }
        
    }

    .swiper-button-next{
        &::after{
            margin-left: 2px;
        }
    }

  
}