.header {
    position: relative;
    width: 100%;
    z-index: 900;
    background-color: $w-cl;
    transition: all .3s ease-in;
    margin-bottom: 44px;
    @include max-media($bk-d-1200){
        margin-bottom: 0;
    }
    &.--fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
        animation: fixedMenu 0.6s;

        .header-search , .header-lang {
            display: none;
        }

        .header-bottom-inner{
            justify-content: center;
            padding: 10px 0;
        }

        .header-logo{
            img{
                height: 56px;
            }
        }

        .hamburger-btn{
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        }
    }
}

.header-bottom {
    background: $main-cl;

    &-inner {
        padding: 14px 0;
        display: flex;
        //justify-content: flex-start;
        justify-content: space-between;
        align-items: center;
        // transition: all .3s ease;
        // color: $t-w-cl;
        @include max-media($bk-d-1200){
            padding: 9px 0;
        }
    }
}

.header-logo {
    margin-right: 15px;

    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}


.header-menu-social {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    @include max-media($bk-d-1200) {
        display: flex;
    }

    .menu-social {
        width: 30px;
        height: 30px;
        // border: 1px solid $main-cl;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $w-cl;
        border-radius: 100%;
        margin: 0 10px;
        cursor: pointer;
    }
}

.header-rt {
    display: flex;
    align-items: center;
}

.header-search {
    margin-right: 37px;
    @include max-media($bk-576){
        margin-right: 10px;
    }
}

.header-lang {
    color: $w-cl;
    margin-right: 20px;
    // text-align: right;
    @include max-media($bk-576){
        margin-right: 10px;
    }
    .vodiapicker {
        display: none;
    }

    .lang-select {
        position: relative;
        cursor: pointer;
        width: 120px;
        @include max-media($bk-576){
            width: auto;
        }
        li {
            display: flex;
            align-items: center;
            @include fz-16;

            color: $w-cl;
            @include max-media($bk-576){
                font-size: 0;
            }

            img {
                margin-right: 5px;
                @include max-media($bk-576){
                   margin: 0;
                }
            }
        }
    }

    .btn-select {
        outline: none;
        border: none;
        padding: 10px 15px 10px 10px;
        background-color: transparent;
        cursor: pointer;
        background-image: url('../img/svg/a-down.svg');
        background-position: right center;
        background-repeat: no-repeat;

        li {
            font-weight: bold;
        }
    }

    .lang-content {
        position: absolute;
        background-color: rgba($color: gray, $alpha: .8);
        width: 100%;
        display: none;

        li {
            padding: 5px 10px;
        }
    }
}

.header-menu {
    &-inner {
        .logo-mobile {
            display: none;
            // max-width: 200px;
            // margin: 0 auto 20px;
            padding: 14px 10px;
            background-color: $main-cl;
            // margin-bottom: 20px;

            @include max-media($bk-d-1200) {
                display: block;
            }

            img{
                // margin: 0 auto;
            }
        }
    }

    @include min-media($bk-1200) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
        background-color: $g-E5E5-cl;
    }

    @include max-media($bk-d-1200) {
        @include pos-full-fixed;
        left: unset;
        right: 100vw;
        text-align: left;
        transition: all .2s ease;
        z-index: 998;

        &.--active {
            right: 0;

            .overplay{
                display: block;
            }
        }

        .header-menu-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: $bg-w-cl;
            padding: 00px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}

.header-list {
    position: relative;
    display: flex;

    // justify-content: center;
    // align-items: center;
    @include min-media($bk-1200) {
        justify-content: center;
    }

    @include max-media($bk-d-1200) {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
        @include custom-scrollbar(3px, $main-cl)
    }

    // style chung
    a {
        position: relative;
        padding: 11px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        // text-transform: uppercase;
        @include trans(.3s);
        @include fz-16;

        @include max-media($bk-d-1200) {
            padding: 10px 20px;
            border-bottom: 1px solid rgba($color: $bg-b-cl, $alpha: 0.16);
            transition: all .3s ease;
        }
    }

    // live 1
    >li {
        >a {
            @include min-media($bk-1200) {

                &:hover {
                    color: $main-cl;
                }
            }

            &:focus {
                @include max-media($bk-d-1200) {
                    color: $main-cl;
                }
            }
        }

        &.r-cl {
            a {
                background-color: $r-cl;
                color: $w-cl;
            }
        }
    }

    // active live1
    .current-menu-item {
        >a {
            color: $main-cl;
        }

        // active live 2
        .current-menu-item {
            >a {
                background-color: $main-cl;
                color: $w-cl;
            }
        }
    }
}

.dropdown {
    position: relative;

    //hover trên deskop
    @include min-media($bk-1200) {
        &:hover {
            >.sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    // mobile
    @include max-media($bk-d-1200) {
        &:hover {
            >a {
                color: $main-cl;
            }
        }
    }

    .dropdown {
        &:hover {
            >a {
                background-color: $main-cl;
                color: $w-cl;
            }
        }
    }

    a {
        // font-weight: bold;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // text-transform: uppercase;
        transition: all .3s ease;
    }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        font-weight: bold;
        transition: transform .3s;
        text-align: center;

        // mobile
        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);

            &.--show {
                transform: rotate(0deg);
            }

        }
    }


}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    font-size: 12px;
    //color: $t-b-cl;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);


    .sub-menu {
        top: 0;
        left: 100%;
    }

    //desktop
    @include min-media($bk-1200) {
        transition: .3s;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
    }

    a {
        padding: 15px;
        font-weight: normal;

        @include min-media($bk-1200) {
            &:hover {
                color: $t-w-cl;
                background-color: $main-cl;
            }
        }
    }

    //mobile
    @include max-media($bk-d-1200) {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: none;

        a {
            padding-left: 30px;
            border-bottom: 1px solid $w-cl;

            &:hover {
                color: $w-cl;
                background-color: $main-cl;
            }
        }

        .sub-menu a {
            padding-left: 45px;
        }

        .sub-menu .sub-menu a {
            padding-left: 60px;
        }
    }
}