.tab {
    .tab-link {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .tab-title {
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
        font-weight: bold;
        @include fz-20;
        &::before{
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            border-bottom: 1px solid $main-cl;
            transition: all .3s ease;
            @include hidden;
        }
        &.active {
            color: $main-cl;

            &::before{
                @include visible;
            }
        }
    }

    .tab-content-box {
        display: none;

        &.active {
            display: block;
            animation: fadeInUp 1s;
        }
    }

    &-mobi{
        .tab-link-mobi {
            display: none;
            width: 100%;
            background-color: $main-cl;
            color: $t-w-cl;
            position: relative;
            padding: 10px;
            text-transform: uppercase;
    
            @include max-media($bk-576) {
                display: block;
            }
            
            &::before{
                content: '\f107 ';
                font-family: 'Fontawesome';
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                font-size: 20px;
            }
    
        }

        .tab-link {
            @include max-media($bk-576) {
                border: none;
                display: block;
                background-color: $bg-w-cl;
                padding: 10px;
            }
        }

        .tab-title {
            padding: 5px 0;
            margin: 0 15px;
           
            @include max-media($bk-576) {
                padding: 8px 10px;
            }

            // &:first-child {
            //     margin-left: 0;

            //     @include max-media($bk-576) {
            //         margin-left: 10px;
            //     }
            // }

            &.active {
                @include max-media($bk-576) {
                    background-color: wheat;
                }
            }
        }

        .tab-line{
            @include max-media($bk-576) {
                display: none;
            }
        }
    }
}