.bn-catalog {
    transform: translateY(-50%);
    padding-top: 15px;

    @include max-media($bk-d-992) {
        padding-top: 7.5px;
    }

    @include max-media($bk-d-768) {
        transform: translateY(0);
        padding: 40px 0;
    }

    .column {
        width: calc(100% / 3);

        @include max-media($bk-d-768) {
            width: 50%;
        }

        @include max-media($bk-576) {
            width: 100%;
        }

        &s {
            @include max-media($bk-d-768) {
                justify-content: center;
            }
        }
    }

    .cata-box {
        background-color: $w-cl;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .3);
        border-radius: 10px;
        padding: 30px;
        display: flex;
        align-items: center;

        @include max-media($bk-d-992) {
            padding: 15px;
        }
    }

    .cata-img {
        flex-shrink: 0;
    }

    .cata-text {
        padding-left: 15px;

    }

    .num {
        padding-bottom: 14px;
        line-height: 1;

        @include max-media($bk-d-992) {
            padding-bottom: 7px;
        }
    }

    .desc {
        line-height: 1.5;
    }
}

.program-bang {
    padding-top: 0;

    .head {
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
    }

    .title {
        margin-bottom: 15px;
    }

    .desc {
        line-height: 1.5;
    }

    .swiper {
        margin: 0 -30px;
        padding: 30px 0 30px;

        &-custom {
            position: relative;
        }

        &-slide {
            width: calc(100% / 3);
            padding: 0 30px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {}

    .swiper-button-prev {
        left: -30px;
        transform: translateX(-100%);

        @include max-media($bk-d-1440) {
            left: 0;
        }

        @include max-media($bk-d-1200) {
            transform: translateX(50%);
        }
    }

    .swiper-button-next {
        right: -30px;
        transform: translateX(100%);

        @include max-media($bk-d-1440) {
            right: 0;
        }

        @include max-media($bk-d-1200) {
            transform: translateX(-50%);
        }
    }

    .bang-inner {
        padding: 150px 30px 30px;
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        border-radius: 10px;
        position: relative;
        background-color: $w-cl;
        transition: all .3s ease;

        &:hover {
            box-shadow: 5px 5px 25px rgba($color: $b-cl, $alpha: .2);
            border-color: $w-cl;

            .bang-num {
                background-color: $r-cl;

                &::after {
                    background-color: #B21F20;
                }
            }

            .bang-img {
                border-color: $r-cl;

                img {
                    filter: none;
                }
            }

            .bang-ft {

                &::after,
                &::before {
                    border-color: #8E1A1A transparent transparent transparent;
                }
            }

            .bang-af {
                border-color: transparent transparent $r-cl transparent;
            }
        }
    }

    .bang-num {
        @include fz-32;
        font-weight: bold;
        // width: 365px;
        // height: 85px;
        width: 100%;
        padding: 26px 0 26px 55px;
        border-radius: 100px 100px 100px 0 / 90px;
        border-top-left-radius: 80px;
        border-bottom-left-radius: -200px;
        background-color: $main-cl;
        color: $w-cl;
        line-height: 1;
        transition: all .3s ease;

        position: absolute;
        left: -30px;
        top: 30px;
        box-shadow: 5px 15px 15px rgba($color: $b-cl, $alpha: .25);

        &::after {
            content: '';
            width: 242px;
            height: 99px;
            border-radius: 20px 10px;
            background-color: #052B67;
            position: absolute;
            top: 20px;
            left: 0px;
            z-index: -1;
            transition: all .3s ease;
        }


    }

    .bang-test {
        width: 60px;
        height: 37px;
        background-color: $main-cl;
        position: absolute;
        bottom: 0px;
        left: 0;
        transform: translateY(90%);
        // mix-blend-mode: darken;
        &::before {
            content: '';
            background-color: $w-cl;
            @include pos-full;
            border-top-left-radius: 100%;
        }



    }

    .bang-tt {
        margin-bottom: 15px;
    }

    .bang-desc {
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .bang-more {
        display: flex;
        align-items: center;
        font-weight: bold;
        transition: all .3s ease;

        &:hover {
            color: $main-cl;

            img {
                transform: translateX(5px);
            }
        }

        img {
            margin-left: 10px;
            transition: all .3s ease;
        }
    }

    .bang-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 108px;
        height: 108px;
        border-radius: 100%;
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        margin: 30px auto 0;
        transition: all .3s ease;

        img {
            filter: brightness(0) invert(0);
            transition: all .3s ease;
        }
    }

    .bang-ft {
        width: 95px;
        height: 95px;
        position: absolute;
        bottom: -5px;
        right: -5px;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 0;
            border-color: #052A64 transparent transparent transparent;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .3s ease;
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 0;
            border-color: #052A64 transparent transparent transparent;
            position: absolute;
            top: 0;
            right: 0;
            transition: all .3s ease;
        }
    }

    .bang-af {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 95px 95px;
        border-color: transparent transparent $main-cl transparent;
        transition: all .3s ease;

    }
}