.home-catalog {
    position: relative;

    .column {
        width: calc(100% / 12 * 4);

        @include max-media($bk-d-992) {
            width: 50%;
        }

        @include max-media($bk-576) {
            width: 100%;
        }
    }

    .cata-box {
        padding: 30px;
        border-radius: 10px;
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        display: flex;
        transition: all .3s ease;
        background-color: $w-cl;
        height: 100%;

        @include max-media($bk-d-1200) {
            padding: 20px;
        }

        // @include max-media($bk-d-768){
        //     padding: 15px;
        // }

        &:hover {
            background-color: $main-cl;
            color: $w-cl;
            border-color: $main-cl;
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);

            .cata-img {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    .cata-img {
        flex-shrink: 0;

        img {
            transition: all .3s ease;
        }
    }

    .cata-text {
        padding-left: 15px;
    }

    .title {
        margin-bottom: 15px;

        @include max-media($bk-d-1200) {
            margin-bottom: 7px;
        }
    }

    .desc {
        line-height: 1.5;
    }
}

.seed-immi {

    &.immi-nw {
        .desc {
            p {
                line-height: 2;
            }
        }

        .btn-now {
            margin-top: 30px;
        }

        .seed-img {
            margin: 0;
        }

        .seed-ig {
            box-shadow: none;
        }
    }

    .column {
        width: 50%;

        @include max-media($bk-d-992) {
            width: 100%;
        }

        &s {
            @include max-media($bk-d-992) {
                flex-direction: column-reverse;
            }
        }
    }

    .title {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .desc {
        line-height: 1.5;

        ul {
            padding-left: 40px;
            margin: 15px 0;
        }

        li {
            &:not(:first-child) {
                margin-top: 15px;
            }

            position: relative;

            &::after {
                content: '';
                background-image: url('../img/svg/tick1.svg');
                width: 15px;
                height: 15px;
                position: absolute;
                top: 5px;
                left: -12px;
                transform: translate(-100%, 0%);
                z-index: 1;
            }
        }
    }

    .seed-img {
        display: flex;
        align-items: center;
        margin: -15px;

        @include max-media($bk-d-1200) {
            margin: -7.5px;
        }

        @include max-media($bk-d-992) {
            justify-content: center;
        }
    }

    .ig-bx {
        padding: 15px;

        @include max-media($bk-d-1200) {
            padding: 7.5px;
        }
    }

    .seed-ig {
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);
        overflow: hidden;
        border-radius: 10px;

        &:nth-child(2) {
            margin-top: 30px;

            @include max-media($bk-d-1200) {
                margin-top: 15px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
}

.tabs-home {
    background-size: cover;

    .tab-content {
        margin-top: 30px;
    }

    .column {
        width: 50%;

        @include max-media($bk-d-992) {
            width: 100%;
        }
    }

    .img {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);

        @include max-media($bk-d-992) {
            max-width: 60%;
            margin: 0 auto;
        }

        @include max-media($bk-576) {
            max-width: 100%;
        }
    }

    .title {
        margin-bottom: 15px;
    }

    .mona-content {
        p {
            line-height: 1.5;
            margin: 0;
        }

        h4 {
            margin: 15px 0;
        }

        ul {
            padding-left: 40px;

            li {
                line-height: 1.5;
                position: relative;

                &:not(:first-child) {
                    margin-top: 15px;
                }

                &::before {
                    content: '';
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: 5px;
                    left: -12px;
                    transform: translateX(-100%);
                    background-image: url('../img/svg/tick1.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

}

.advise {
    background-size: cover;

    .column {
        width: 50%;

        @include max-media($bk-d-992) {
            width: 100%;
        }

        &s {
            align-items: center;
        }
    }

    .advise-text {
        color: $w-cl;
    }

    .title {
        margin-bottom: 15px;
    }

    .desc {
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .advise-info {
        display: flex;
        flex-wrap: wrap;
    }

    .advise-ls {
        &:first-child {
            padding-right: 50px;

            @include max-media(500px) {
                padding: 0 0 20px;
                width: 100%;
            }
        }
    }

    .advise-tm {
        margin-bottom: 15px;
    }

    .advise-ul {
        li {
            &:not(:first-child) {
                margin-top: 15px;
            }

            display: flex;
            align-items: center;
            line-height: 1;
        }

        a {
            transition: all .3s ease;

            &:hover {
                color: $r-cl;
            }
        }
    }

    .advise-form {
        background-color: $main-cl;
        border-radius: 10px;
        padding: 30px;

        @include max-media($bk-d-992) {
            padding: 20px;
            margin-top: 10px;
        }

        @include max-media($bk-576) {
            padding: 15px;
        }
    }

    .advise-title {
        margin-bottom: 27px;
        line-height: 1.2;
        color: $w-cl;
        text-align: center;

        @include max-media($bk-d-768) {
            margin-bottom: 15px;
        }
    }

    .advise-f {
        &:not(:first-child) {
            margin-top: 15px;
        }
    }

    .f-control {
        @include fz-16;
        border-color: rgba($color: $b-cl, $alpha: .3);
        border-radius: 10px;
        padding: 10px 15px;
        transition: all .3s ease;

        &::placeholder {
            color: $b-cl;
        }

        &:hover {
            border-color: $main-cl;
        }
    }

    .f-seclect {
        background-image: url('../img/svg/a-down2.svg');
        background-position: right 15px center;
        background-repeat: no-repeat;
        padding-right: 30px;
    }

    textarea {
        resize: none;
        height: 97px;
    }

    .advise-sub {
        margin-top: 15px;
        text-align: center
    }

    .btn-sub {
        @include fz-16;
        background-color: #E72527;
        color: $w-cl;
        width: auto;
        height: auto;
        padding: 13px 30px;
        border-radius: 10px;
        cursor: pointer;

        @include max-media($bk-576) {
            padding: 13px 20px;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

.working-process {
    .title {
        margin-bottom: 15px;
    }
}

.choose-seed {

    &.choose-sd {
        .columns {
            flex-direction: row-reverse;
        }
    }

    .column {
        &.txt {
            width: calc(100% / 12 * 4);

            @include max-media($bk-d-992) {
                width: 100%;
            }
        }

        &.cata {
            width: calc(100% / 12 * 8);

            @include max-media($bk-d-992) {
                width: 100%;
            }
        }

        &s {
            align-items: center;

        }
    }

    .title {
        margin-bottom: 15px;
        line-height: 1.2;


        br {
            @include max-media($bk-d-992) {
                display: none;
            }
        }
    }

    .desc {
        line-height: 1.5;
    }

    .col {
        padding: 15px;
        width: 50%;

        @include max-media($bk-d-992) {
            padding: 7.5px;
        }

        @include max-media($bk-576) {
            width: 100%;
        }

        &s {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;

            @include max-media($bk-d-992) {
                margin: -7.5px;
            }
        }
    }

    .cata-box {
        padding: 30px;
        border: 1px solid rgba($color: $b-cl, $alpha: .3);
        border-radius: 10px;
        transition: all .3s ease;
        display: flex;
        background-color: $w-cl;
        height: 100%;

        @include max-media($bk-d-992) {
            padding: 20px;
        }

        @include max-media($bk-d-768) {
            padding: 15px;
        }

        &:hover {
            background-color: $main-cl;
            color: $w-cl;
            border-color: $main-cl;
            box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: .25);

            .cata-img {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    .cata-img {
        flex-shrink: 0;

        img {
            transition: all .3s ease;
        }
    }

    .cata-text {
        padding-left: 15px;
    }

    .c-title {
        margin-bottom: 15px;

        @include max-media($bk-d-1200) {
            margin-bottom: 7px;
        }
    }

    .c-desc {
        line-height: 1.5;
    }
}

.talk-us {
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        margin-bottom: 15px;
    }

    .desc {
        line-height: 1.5;
    }

    .head {
        max-width: 770px;
        margin: 0 auto;
    }

    .swiper {
        padding: 30px 0;
        margin: 0 -15px;

        @include max-media($bk-d-992) {
            margin: 0 -7.5px;
        }


        &-custom {
            position: relative;
        }

        &-slide {
            width: calc(100% / 3);
            padding: 0 15px;

            @include max-media($bk-d-992) {
                width: 50%;
                padding: 0 7.5px;
            }

            @include max-media($bk-576) {
                width: 100%;
            }

        }
    }

    .us-box {
        padding: 30px;
        border-radius: 10px;
        transition: all .3s ease;

        @include max-media($bk-d-1200) {
            padding: 20px;
        }

        &:hover {
            box-shadow: 5px 5px 20px rgba($color: $b-cl, $alpha: .20);
        }
    }

    .us-h {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
    }

    .us-img {
        img {
            border-radius: 100%;
        }
    }

    .us-ht {
        padding-left: 15px;
    }

    .name {
        margin-bottom: 5px;
    }

    .u-desc {
        line-height: 1.5;
    }

    .swiper-button-prev,
    .swiper-button-next {
        @include max-media($bk-d-1200) {}
    }

    .swiper-button-prev {
        left: -30px;
        transform: translateX(-100%);

        @include max-media($bk-d-1440) {
            transform: translateX(0%);
        }

        @include max-media($bk-d-1200) {
            left: -15px;
        }
    }

    .swiper-button-next {
        right: -30px;
        transform: translateX(100%);

        @include max-media($bk-d-1440) {
            transform: translateX(0%);
        }

        @include max-media($bk-d-1200) {
            right: -15px;
        }
    }
}

.news-home {


    .swiper {
        padding: 15px 0 30px;
        margin: 0 -15px;

        @include max-media($bk-d-1200) {
            margin: 0 -7.5px;
        }

        &-custom {
            position: relative;

            &:hover {

                .swiper-button-next,
                .swiper-button-prev {
                    @include visible;
                }

                .swiper-button-prev {
                    left: -30px;

                    @include max-media($bk-d-1200) {
                        left: -15px;
                    }
                }

                .swiper-button-next {
                    right: -30px;

                    @include max-media($bk-d-1200) {
                        right: -15px;
                    }
                }
            }
        }

        &-slide {
            width: calc(100% / 3);
            padding: 0 15px;

            @include max-media($bk-d-1200) {
                padding: 0 7.5px;
            }

            @include max-media($bk-d-992) {
                width: calc(100% / 2);
            }

            @include max-media($bk-576) {
                width: 100%;
            }
        }
    }

    .swiper-button-prev {
        transform: translateX(-100%);
        @include hidden;

        @include max-media($bk-d-1440) {
            transform: translateX(0);
        }
    }

    .swiper-button-next {
        transform: translateX(100%);
        @include hidden;

        @include max-media($bk-d-1440) {
            transform: translateX(0);
        }
    }
}

.success-story {
    .title {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .column {
        width: calc(100% /12 * 3);

        @include max-media($bk-768) {
            width: 50%;
        }

        &.w-50 {
            width: calc(100% /12 * 6);

            @include max-media($bk-768) {
                width: 100%;
            }
        }
    }

    .story-box {
        position: relative;
        overflow: hidden;

        &:hover {
            .img {
                &::after {
                    @include visible;
                }
            }

            .mona-content {
                @include visible;
                transform: translateY(0);
            }
        }
    }

    .img {
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            @include pos-full;
            background-color: rgba($color: $b-cl, $alpha: .7);
            transition: all .3s ease;
            @include hidden;
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .mona-content {
        position: absolute;
        left: 0%;
        right: 0;
        bottom: 0;
        padding: 15px;
        color: $w-cl;
        transition: all .6s ease;
        @include hidden;
        transform: translateY(100%);

        h4 {
            font-size: 16px;
            line-height: 1.5;
            margin: 0 0 15px;
            @include line-clamp(2);

            @include max-media($bk-d-1200) {
                margin-bottom: 10px;
            }
        }

        p {
            margin: 0;
            font-size: 12px;
            line-height: 1.6;
            @include line-clamp(5);

            @include max-media(400px) {
                -webkit-line-clamp: 3;
            }
        }
    }
}