.list-settled {
    .title {
        margin-bottom: 20px;
    }

    .settled-form {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        @include max-media($bk-d-992){
            margin: -7.5px;
        }
    }

    .settled-f {
        width: calc(100% /12 * 3);
        padding: 15px;
        @include max-media($bk-d-992){
            padding: 7.5px;
        }
        @include max-media($bk-d-768){
            width: calc(100% / 12 * 4);
        }
        @include max-media($bk-576){
            width: 50%;
        }
    
    }

    .f-hidden {
        display: none;

        &:checked+.checkmark {
            .checked {
                &::after {
                    @include visible;
                }
            }
        }
    }

    .checkmark {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .checked {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        position: relative;
        border: 1px solid #C4C4C4;
        flex-shrink: 0;

        &::after {
            content: '';
            background-image: url('../img/svg/checked.svg');
            width: 15px;
            height: 15px;
            @include pos-mid;
            @include hidden;
        }
    }

    .t-check {
        @include fz-16;
        font-weight: bold;
        padding-left: 10px;
    }

    .bx-tabs{
        @include max-media($bk-d-1024){
            overflow: auto;

        }
    }

    .s-table{
        margin-top: 20px;
        width: 100%;
        @include max-media($bk-d-1024){
            min-width: 994px;
        }

        // thead , tbody , tr ,th , td{
        //     display: block;
        // }

        tr{
            th{
                background-color: #9C9C9C;
                width: calc(100% / 5);
                border-radius: 10px 10px 0 0;
                color: $w-cl;
                &:nth-child(even){
                    background-color: #3F4647;   
                }

                &:nth-child(1){
                    background-color: transparent;
                    width: calc(100% /12 * 2);
                }
            }

            td{
                text-align: center;
                &:nth-child(1){
                    text-align: left;
                }
            }
        }

        tbody{
            tr{
                &:nth-child(odd){
                    background-color: #F5F5F5;
                }
                &:nth-child(even){
                    background-color: #EBEBEB;
                }
            }

            td{
                padding: 20px 12px;
                vertical-align: top;
                border: 1px solid $w-cl;
                &:nth-child(1){
                    padding: 20px 15px ;
                }
            }
        }

        .settled-head{
            padding: 15px;
            img{
                margin: 0 auto 15px;
            }
            h4{
                white-space: nowrap;
            }
        }
    }

   

}