.event {

    &.event-sm {
        .column {
            &:last-child{
                display: none;
                @include max-media($bk-d-992){
                    display: block;
                }
            }
        }
    }

    .column {
        width: calc(100%/ 3);

        @include max-media($bk-d-992) {
            width: calc(100% / 2);
        }

        @include max-media($bk-576) {
            width: 100%;
        }


    }

    .title {
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .event-n {
        text-align: center;
        margin-top: 30px;
    }
}

.news {
    .column {
        width: 50%;

        @include max-media($bk-576) {
            width: 100%;
        }
    }

    .title {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .new-box {
        overflow: hidden;

        &:not(:first-child) {
            padding-top: 30px;
        }

        &:hover {
            .img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    .img {
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
        display: block;

        img {
            height: 100%;
            transition: all .6s ease;
        }
    }



    .news-tt {
        color: $main-cl;
        margin-bottom: 15px;
        font-weight: bold;
        display: block;

        @include max-media($bk-d-992) {
            margin-bottom: 10px;
        }
    }

    .desc {
        line-height: 2;
        @include line-clamp(9);

        @include max-media($bk-d-1200) {
            -webkit-line-clamp: 7;
        }

        @include max-media($bk-d-992) {
            -webkit-line-clamp: 4;
        }
    }

    .news-date {
        display: flex;
        align-items: center;
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid #C4C4C4;

        @include max-media($bk-d-992) {
            padding-top: 10px;
            margin-top: 10px;
        }

        img {
            margin-right: 10px;
        }
    }

    .new-btn {
        margin-top: 30px;
        text-align: center;
    }


}